


.container-contacts{
    display: flex;
    justify-content: center;
    gap: 131px;
    margin-bottom: 60px;
}
.contact-card{
    width: 300px;
    height: 350px;
    background-color: var(--text-color);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.contact-svg{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 1rem;

}
.container-contacts .contact-card a{
    cursor: pointer;
}
.title-contact{
    font-size:24px;
    font-family: 'Poppins',sans-serif;
    color: var(--bg-color);
    font-weight: 600;
    margin-bottom: 18px;
    text-align: center;
}

@media (max-width: 1174px){

   
    .nav-bar{
        transition: ease-in-out 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 60px 142px 60px 142px;
    
    }
    .container{
        transition: ease-in-out 0.4s;
    }
    
    .container-contacts{
        transition: ease-in-out 0.4s;
       
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 30px;
    }
}
