:root {
    --text-color: #F5F5F5;
    --bg-color:#FF4A4A;
    --bg-modal: #f5f5f5;
    --text-color-card: #6A6A6A; 
  }
html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
   background: rgb(255,74,74);

}
h1{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
label{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 18px;
}
input{
    background: none;
}
textarea{
    background: none;
}
